.apps ul li a{
	color:blue;
	TEXT-DECORATION:none;
	width:100px;
	height:100px;
	display:block;
	text-align:center;
}

td.orgName,
td.deptName,
td.view,
td.actions,
td.operations,
td.flag,
td.fileno{
	white-space: nowrap;
}

.table-title {
	color: black;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}

.t-beandisplay-value{
	color:blue;
	font-size:11pt;
	height:1.6em;
}

.fs11 {
	font-size: 1.1em;
}

.bottom {
	vertical-align: bottom;
}

.docs {
	line-height: 1.4;
}

.field-label {
	color: green;
	text-align: right;
}

.even {
	background-color: #FFFFCC;
}

div.mbt-error div {
	padding: 2px;
	display: block;
	margin: 0px;
	background-color: red;
	font-weight: bold;
}

.page-title {
	line-height: 1.8;
	color: #f1f1f1;
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
}

.clear-left{
	clear:left;
}

.subreset {
	background-color: #e8f7f7;
	font-family: arial, helvetica, tahoma, verdana, sans-serif;
	background: #b8cece;
	border-bottom: 1px solid #325e5e;
	border-right: 1px solid #325e5e;
	border-left: 1px solid #b8cece;
	border-top: 1px solid #b8cece;
	color: #000000;
	text-decoration: none;
	width: 80px;
}

div.t-error ul li{
	margin-left:40px;
}

.no-border {
	border: 0px;
}

div.mbt-msg div{
	padding: 2px;
	display: block;
	margin: 0px;
	background-color: #99B14E;
	font-weight: bold;
}

.required-marker {
	color: red;
	font-weight: bold;
}

-dl -dt{
	display: inline;
	float: left;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
	width: 400px;
	height: 20px;
	color: green;
	font-weight: bold;
	margin-right: 10px;
}

table.mbt-table TD {
	border: 1px solid silver;
	margin: 0px;
	padding: 2px;
}

.menu-item {
	background: transparent;
	color: white;
}

.header_nav ul ,
.header_nav li {
	float: left;
	height: 62px;
	list-style: none;
	display: block;
	text-align: center;
	margin: 0px 3px;
	vertical-align: middle;
}

.header_user{
	height: 75px;
	width: 300px;
	position: fixed;
	right: 0px;
	top: 0px;
	padding-top: 3px;
	z-index: 9999;
}

#logo {
	height: 75px;
	width: 250px;
	float: left;
}

h5{
	padding: 2px 16px;
	font-size: 1.2em;
	color: #8080FF;
}

h4{
	padding: 3px 12px;
	font-size: 1.4em;
	color: #0080FF;
}

div.content{
	background:#d0d0d0;
	margin:2px 5px;
	height:auto !important;
	height:300px;
	min-height:300px;
}

.t-beandisplay-label{
	color:green;
	font-size:1.1em;
	height:16pt;
}

h6{
	padding: 1px 20px;
	color: #8080C0;
}

h1{
	padding: 6px 0px;
	color: #000080;
	font-size: 2em;
}

.bar-cool {
	padding: 3px;
	margin: 2px 2px 0;
	background: #eee;
	border-color: #999 #EEE #EEE #999;
	border-width: 3px;
	border-style: solid;
}

.apps img {
	border: none;
	width: 60px;
	height: 60px;
}

.header_nav li:hover {
	background: url('http://www.mabetle.com/mgs/static/webassets/images/app/header_nav_mouseover_bg.png') no-repeat 1px 0;
}

h3{
	padding: 4px 8px;
	color: #0080C0;
	font-size: 1.6em;
}

.t-beandisplay dd{
	color:blue;
	font-size:11pt;
	height:16pt;
	display: block;
	width:500px;
	-webkit-margin-start: 40px;
}

h2{
	padding: 5px 4px;
	color: #0000FF;
	font-size: 1.8em;
}

table.t-data-grid tr{
	text-align:center;
}

.table-item {
	color: blue;
	text-align: center;
}

dl dt:after{
	content: ':';
}

li.current{
	background:#1E90FF;
	weight:bold;
}

.error {
	color: red;
	font-size: 16px;
	font-weight: bold;
	background-color: yellow;
	padding: 10px 5px;
}

.validate-require {
	color: blue;
	font-weight: bold;
}

a:visited{
	color: #800040;
	text-decoration: none;
}

form{
	margin: 3px;
	padding:3px;
}

.fs10 {
	font-size: 1em;
}

div.title {
	font-size: 20px;
	font-weight: bold;
}

*{
	margin:0px;
	padding:0px;
	font-size: 1em;
}

.auto-hr {
	white-space: normal;
	word-break: break-all;
	overflow: hidden;
}

table{
	margin:5px;
	border-spacing:0px;
}

ul.plain li a{
	display:block;
	width:150px;
	text-align: center;
	vertical-align: middle;
}

.restDay {
	background: gray;
}

.gray {
	color: gray;
}

.border1 {
	border: 1px;
}

.bg-yellow {
	background: yellow;
}

.clear-right{
	clear:right;
}

.alert {
	background-color: #ff9;
}

span.link:hover{
	margin:2px;
	cursor: hand;
	color:red;
}

input,
select,
textarea{
	border: 1px solid #008000;
	padding: 1px;
}

.tasknav {
	margin-bottom: 2px;
}

.clear{
	clear:both;
}

div.options{
	background-color:#cde6c7;
	padding:5px 20px;
}

.apps h2,
.apps h3,
.seperate{
	background:#f1f1f1;
	font-size:1em;
	color:black;
	border-bottom:1px solid silver;
	height:20px;
}

.commentTitle,
replyTitle {
	font-weight: bold;
	color: green;
}

a:link{
	color: blue;
	text-decoration: none;
}

.label-error {
	color: red;
}

.notice {
	color: green;
	font-size: 16px;
	background-color: #9AAFE5;
	font-weight: bold;
	padding: 10px 5px;
}

div.panel {
	float:left;
	width:250px;
	background-color: #99B14E;
	height:auto !important;
	height:500px;
	min-height:500px;
	margin-right:10px;
}

.header_nav img {
	border: none;
	width: 60px;
	height: 60px;
}

.bg-green {
	background: green;
}

.table-value {
	color: black;
	text-align: left;
}

.s1,
.hr-s1 {
	border: 1px solid blue;
	width: 90%;
}

.source {
	background-color: #fff;
	color: #000;
	border-right: 1px solid #888;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	margin-right: 7px;
	margin-left: 7px;
	margin-top: 4px;
}

.sqltableTitle {
	font-weight: bold;
	font-size: 1.4em;
}

dl{
	margin: 10px;
}

.apps {
	clear: both;
	margin-top: 5px;
}

.fw-bold,
.bold {
	font-weight: bold;
}

.white {
	color: white;
}

td.taskName,
td.deptName,
td.positionName,
td.SchemeName,
td.comment,
td.description,
td.digest,
td.title,
td.readme,
td.validResult,
td.schemeName,
td.actions,
td.operations,
td.content,
td.address,
td.sendTo{
	text-align: left;
}

.fs12 {
	font-size: 1.2em;
}

.green {
	color: green;
}

table.mbt-data-table TD {
	border: 1px solid silver;
	margin: 0px;
}

div.reply-content,
div.simple-content{
	background:#d0d0d0;
	margin:2px 5px;
	height:auto !important;
	height:50px;
	min-height:50px;
}

ul{
	margin-left:20px;
}

table.layout tr:hover {
	background: none;
}

table.mbt-data-grid {
	border-collapse: collapse;
	border-left: 1px solid silver;
}

a{
	font-size: 1em;
}

mbt-lines{
	;
}

div.mbt-msg {
	border: 1px solid green;
	padding: 0px;
	margin: 2px;
}

.mainTitle {
	font-weight: bold;
	font-size: 1.4em;
	color: blue;
}

ul.plain li{
	margin: 2px;
	float: left;
	list-style: none;
	border-right: 1px solid black;
	text-align:center;
	border-collapse:collapse;
	white-space: nowrap;
	;
}

h1,
h2,
h3,
h4,
h5,
h6{
	text-transform: capitalize;
	font-weight:bold;
	margin:2px;
}

a:active{
	color: green;
	text-decoration: underline;
}

div.mbt-contain {
	border: 1px solid #809FFF;
	padding: 0px;
	margin: 2px 2px;
}

.info {
	color: #069;
}

.nowrap {
	white-space: nowrap;
}

.apps li {
	float: left;
	width: 100px;
	height: 100px;
	list-style: none;
	display: block;
	text-align: center;
	margin-top:2px;
	padding:2px;
}

td.dept,
td.jobPosition,
td.JobTitle,
td.inCharge,
td.remark,
td.orgName,
td.flag,
td.realName,
td.operate,
td.div.operate {
	white-space: nowrap;
}

p{
	line-height:1.5em;
}

.center {
	text-align: center;
}

table.layout{
	border: 0px ridge gray;
}

.field label{
	font-weight: bold;
	color: green;
}

.yellow {
	color: yellow;
}

div.mbt-contain div.mbt-contain-content {
	padding: 2px;
	margin: 0px;
	background-color: #DCDCDC;
}

html,
body{
	font-family: serif, sans-serif, cursive, fantasy, monospace;
	background-color:white;
}

table.mbt-table TH {
	border: 1px solid silver;
	background-color: #809FFF;
	color: white;
}

.odd {
	background-color: #f1f1f1;
}

td.theYear,
td.theMonth,
td.theDate,
td.view,
td.createTime,
td.updateTime,
td.submitDate,
td.auditDate,
td.flag,
td.tags,
td.userName,
td.taskDefineUserName,
td.sendUserName,
td.nickname,
td.realName,
td.enabled,
td.email,
td.officePhone,
td.mobilePhone,
td.groupName,
td.smallClass,
td.seqCode,
td.status,
td.fileNo,
td.deptName,
td.orgName{
	text-align: center;
}

img{
	border:0px;
}

.blue {
	color: blue;
}

table.mbt-data-table {
	border-collapse: collapse;
	margin: 0px;
	padding: 2px;
}

#header {
	height: 75px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	z-index: 9999;
}

td{
	;
}

div.mbt-contain div.mbt-contain-head {
	padding: 2px;
	margin: 0px;
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #809FFF;
	color: white;
}

li.left-menu-item {
	text-align: left;
}

th{
	vertical-align:middle;
	text-align:center;
}

.table-group {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

ul.left-menu {
	text-align: left;
}

.buttons{
	margin:5px 5px;
	padding: 10px;
}

#page-title h2{
	padding: 2px 5px;
}

.apps ul li{
	float:left;
	width:100px;
	height:100px;
	list-style:none;
	display:block;
	text-align:center;
}

ul.right-menu {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #CCCCCC;
}

mbt-lines p{
	margin:10px 3px;
	padding:10px 3px;
}

div.mbt-error {
	border: 1px solid red;
	padding: 0px;
	margin: 2px;
}

tr:hover{
	;
}

table.t-data-grid thead tr th{
	text-align: center;
	white-space:pre-wrap;
}

label{
	font-weight: bold;
	color: green;
	white-space: nowrap;
	margin-right:3px;
}

td.actions a:hover,
td.actions a:focus,
.buttons a:hover,
.buttons a:focus,
.button:hover,
.button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
#submit:hover,
#submit:focus,
.t-beaneditor-submit:hover,
.t-beaneditor-submit:focus{
	margin:3px;
	padding:3px 10px;
	color: #003;
	border-width: 3px 2px 2px 3px;
	border-style: solid;
	border-color: #999 #EEE #EEE #999;
	background-color: silver;
	text-decoration: none;
}

table.mbt-data-grid THEAD TR {
	color: white;
	background-color: #809FFF;
}

li{
	margin: 2px 10px;
}

span.link{
	margin:2px;
	cursor: hand;
	color:blue;
}

.message-no-result {
	color: #FF0000;
}

table.mbt-data-grid TBODY TR TD {
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 2px;
}

table.mbt-data-grid THEAD TR TH {
	text-align: left;
	padding: 3px;
	white-space: nowrap;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}

.article-title {
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	color: black;
	font-size: 2em;
	font-weight: bold;
}

.date,
.time,
.datetime {
	color: gray;
	font-style: italic;
}


div.mbt-msg ul li,
div.mbt-error ul li{
	margin-left:40px;
}

.apps li a {
	color: blue;
	TEXT-DECORATION: none;
}

.apps ul{
	;
}

.header_nav {
	height: 75px;
	margin:0px;
}

input:focus,
textarea:focus{
	background: #D2D9F0;
	border: 1px solid #008000;
	padding: 2px;
}

table.layout tr td{
	border: 0px ridge gray;
	text-align:left;
	vertical-align:top;
}

.append,
.hr-append {
	border: 1px solid blue;
	width: 50%;
}

.apps li:hover{
	background: url('http://www.mabetle.com/mgs/static/webassets/images/app/appbutton_mouseover_bg.png') no-repeat 1px 0;
}

.header_nav a {
	text-decoration: none;
}

#main {
	margin: 80px 20px;
	;
}

.bg-blue {
	background: blue;
}

.t-beaneditor-submit{
	margin-left:250px;
}

.scope-right-content {
	margin: 2px 3px;
	padding: 2px 3px;
}

.bg-white {
	background: white;
}

.article-content,
.post-content,
.mail-content {
	background: #EEEEEE;
	padding: 10px 20px;
}

.menu-title {
	font-weight: bold;
	font-size: 1.4em;
}

.t-beaneditor{
	clear:left;
	display: block;
	background: #ffc;
	border: 2px outset green;
	padding: 2px;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

.source pre {
	margin-right: 7px;
	margin-left: 7px;
}

.top {
	vertical-align: top;
}

.mbt-error {
	border: 1px solid red;
	padding: 0px;
	margin: 2px;
	display: block;
	margin: 0px;
	background-color: pink;
	font-weight: bold;
}

.scope-left-menu {
	padding: 2px 2px;
}

th,
td{
	padding:5px;
}

a:hover{
	color: red;
	text-decoration: underline;
}

.checkbox,
.radio,
.img,
img,
radio,
input.checkbox,
input.radio{
	border: none;
}

div.t-error LI{
	margin-left: 20px;
}

table.mbt-data-table TH {
	border: 1px solid silver;
	background-color: #809FFF;
	color: white;
}

.no-margin-padding {
	margin: 0px;
	padding: 0px;
}

#main-content,
#main_content {
	margin-left: 210px;
	position:absolute;
	z-index:500;
	padding:2px;
}

.table-num-value {
	color: black;
	text-align: right;
	font-weight: bold;
}

.field-error {
	background-color: red;
	color: white;
}

.menu-group {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	border: 1px solid #325e5e;
}

div.panel ul li{
	list-style-type:circle;
}


table.mbt-table {
	border-collapse: collapse;
	margin: 0px;
	padding: 2px;
}

.appMenuTitle {
	margin: 2px 0px;
	text-align: center;
	vertical-align: middle;
	padding: 2px 0px;
	font-weight: bold;
	font-size: 1.4em;
	background: #244EDD;
	color: white;
}

.t-beandisplay dt{
	color:green;
	font-size:11pt;
	height:16pt;
	width: 250px;
	display: block;
	float: left;
	text-align: right;
	padding-right: 5px;
	vertical-align: middle;
}

.author,
.user-name,
.username {
	color: green;
	font-weight: bold;
}

.apps img{
	border:none;
	width:60px;
	height:60px;
}

div.panel ul{
	margin-left:1px;
	padding: 15px 2px;
}

.t-exception-report,
.t-env-data{
	clear:both;
}

div.mbt-data-grid {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

.t-beandisplay{
	clear:left;
	margin:50px;
	padding: 2px;
	display: block;
	font-family: "Trebuchet MS", Arial, sans-serif;
	background: #CCBE99;
	border: 2px outset black;
	width: 80%;
	height:auto;
}


