/*
 *apps_no_icon.css
 */

/*.apps_no_icon */
.apps_no_icon{
	clear:both;
	margin-top:5px;
}

.apps_no_icon ul{

}

.apps_no_icon ul li{
	float:left;
	width:100px;
	list-style:none;
	display:block;
	text-align:center;
}

.apps_no_icon ul li a{
	color:blue;
	text-decoration: none;
}

.apps_no_icon li {
	float: left;
	width: 100px;
	list-style: none;
	display: block;
	text-align: center;
	padding:5px;
}

.apps_no_icon li a {
	color: blue;
	text-decoration: none;
	width:100px;
	display:inline-block;
	text-align:center;
}

.apps_no_icon li:hover{
	background: #99FF99;
}


