/**
 * button style
 */

/* Button */
.buttons{
	margin:5px 5px;
	padding: 10px;
	/*    border-top: 2px solid  #999;*/
}


/* button or button link style */
td.actions a,
.buttons a,
.button,
.t-beaneditor-submit,
input[type="button"],
input[type="submit"],
#submit{
	margin:3px;
	padding:3px 10px;
	text-decoration: none;
	color: #105CB6;
	border-width: 2px 3px 3px 2px;
	border-style:solid;
	border-color: #EEE #999 #999 #EEE;
	background-color: #32CD32;
}

/* button hover or focus style */
td.actions a:hover,
td.actions a:focus,
.buttons a:hover,
.buttons a:focus,
.button:hover,
.button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
#submit:hover,
#submit:focus,
.t-beaneditor-submit:hover,
.t-beaneditor-submit:focus{
	margin:3px;
	padding:3px 10px;
	color: #003;
	border-width: 3px 2px 2px 3px;
	border-style: solid;
	border-color: #999 #EEE #EEE #999;
	background-color: #32CD32;
	text-decoration: none;
}
