/*
 * theme_green.css
 * @author: Korben Zhang
*/
#header {
	background: #32CD32;
}
#page-title {
	color: green;
	border-radius: 10px;
}
#page-title h2 {
	color: green;
}
.apps h2,.apps h3,.seperate {
	background: #f1f1f1;
	font-size: 1em;
	color: green;
	border-bottom: 1px solid silver;
	height: 20px;
}
input:-webkit-autofill,textarea:-webkit-autofill,input,textarea {
	background-color: #99FF99;
	background-image: none;
	color: rgb(0, 0, 0);
}

